.beeb {
  color: goldenrod;
  background-color: gold;
  display: block;
  background-size: 3000px 500px;
  text-align: center;
  padding: 0px
}

.josh {
  color: goldenrod;
  text-align: center;
}

@keyframes example {
  from {color: red;}
  to {color: blue;}
}
