a {
  background-color: gold; /* Green */
  border: none;
  color: darkcyan;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  border-radius: 20px;
  background-size: 20px;
}

.joe {
  display: flex;
}
.big_e{
  background-color: #2111e9
}
.bob {
  border: none;
  color: darkcyan;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 28px;
}
.bill {
  border: none;
  color: darkcyan;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 35px;
}
