ul{
  list-style-type: square;
}

body{
  display: flex;
  border: 8px solid black;
}

div{
   margin-left: 10;
  margin-right: 10;
}

.container {
  background-color: goldenrod;
  border: none;
  color: gold;
  padding: 32px 59px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  display: block;
}

.Card {
  margin-top: 50;
  margin-left: 10;
  margin-right: 10;
  color: gold;
  background-color: goldenrod;
  background-size: 50px 10px;
  border-radius: 10px;
  padding: 5px;
}
