ul{
  list-style-type: square;
  border: 0.1px solid black;
}

body{
  display: flex;
  border: 0.1px solid black;
}

.container {
  background-color: goldenrod;
  border: none;
  color: gold;
  padding: 32px 59px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  display: block;
}

.Card {
  margin-left: 10;
  margin-right: 10;
  color: gold;
  background-color: rgba(225, 255, 225, 0.7);
  background-size: 0px 0px;
  border-radius: 10px;
  padding: 5px;
  border: 0.1px solid black;
  backdrop-filter: blur(7px);
}
.Card:Hover {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2),
  -10px -10px 10px rgba(255, 255, 255, 0.01);
}
