ul{
  list-style-type: square;
  border: 5px white;
}
h1{
  background: linear-gradient(to right, rgb(128, 128, 128), rgb(255, 206, 30));
  background-clip: text;
  color: transparent;
  font-size: 60px;
  border: 5px white;
}
input{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  backdrop-filter: blur(5px);
  background-color: rgba(225, 255, 255, 0.05);
  border-radius: 10px;
  display: inline;
}

.Card {
  margin-left: 10;
  margin-right: 10;
  background-color: rgba(225, 255, 255, 0.05);
  height: 100px;
  width: 250px;
  border-radius: 10px;
  border: 5px white;
  backdrop-filter: blur(5px);
}
.Card:Hover {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2),
  -10px -10px 10px rgba(255, 255, 255, 0.01);
}

.Scrollable {
  display: flex;
  width: 90%;
  gap: 10px;
  height: 120px;
  overflow-x: scroll;
  overflow-y: visible;
  align-items: flex-start;
  border: 5px white;
}
.Scrollable::-webkit-scrollbar {
  display: none;
}
.sidebox {
  background-color: rgba(255, 255, 255, 0.3);
  height: 90%;
  width: 8%;
  border: 5px white;
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.search-bar {
  border: 5px white;
  width: 100%;
}
.flex {
  display: flex;
  border: 5px white;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 50px;
}
.add-tile {
  border: 5px white;
  border-radius: 100px;
  width: 50px;
  display: inline;
  background-color: rgba(225, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin-left: 48%;
}
.logo {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 5px white;
}
.main{
  border: 5px white;
  display: inline;
  width: 90%;
}
.head{
  height: 10%;
  background-color: rgba(225, 255, 255, 0.05);
  width: 100%;
  border-radius: 10px;
  border: 5px white;
  backdrop-filter: blur(5px);
}
.popup{
  height: 500px;
  width: 500px;
  background-color: rgb(225, 255, 255);
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
}
.popup h2{
  background: linear-gradient(to right, rgb(128, 128, 128), rgb(255, 206, 30));
  background-clip: text;
  color: transparent;
  font-size: 60px;
  top: 0%;
}
.hide {
  border-radius: 100px;
  width: 50px;
  display: inline;
  background-color: rgba(225, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  cursor: pointer;
  color: rgb(255, 255, 255);
}
