ul{
  list-style-type: square;
  border: 0.1px solid black;
}
body{
  display: flex;
  border: 0.1px solid black;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 50px;
}
h1{
  background: linear-gradient(to right, rgb(0, 75, 162), rgb(255, 206, 30));
  background-clip: text;
  color: transparent;
  font-size: 60px;
  border: 0.1px solid black;
}
input{
  width: 10%;
}

.container {
}

.Card {
  margin-left: 10;
  margin-right: 10;
  background-color: rgba(225, 255, 255, 0.05);
  height: 100px;
  width: 250px;
  border-radius: 10px;
  border: 0.1px solid black;
  backdrop-filter: blur(3px);
  display: block;
}
.Card:Hover {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2),
  -10px -10px 10px rgba(255, 255, 255, 0.01);
}

.Scrollable {
  display: flex;
  width: 100%;
  gap: 10px;
  height: 120px;
  overflow-x: scroll;
  overflow-y: visible;
  align-items: flex-start;
   border: 0.1px solid black;
}
.Scrollable::-webkit-scrollbar {
  display: none;
}
.sidebox {
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
  width: 10%;
  border: 0.1px solid black;
  display: block;
}
